# Configuration file

##########################################################################################################
# stats
#--------------------------------------------------------------------------------------------------------#
# This category are markers for some statistics taken by iChunUtil. You can opt out from this in one of the config properties.
##########################################################################################################

stats {
    # Don't change this.
    S:statsData=_o+2/}+y-dQ'~\HzBv_z

    # Don't change this.
    S:statsIdentifier=lM2BM>9$XMIU=7smFSTl

    # Opt out of iChunUtil's stat collection
    # No personal info is taken from you.
    # But if you want to opt out, this is the config to change.
    # 
    # Min: 0
    # Max: 1
    I:statsOptOut=0
}


