# Configuration file

General {
    # This allows you to disable recipes for Florbs. It also means that you actively dislike fun things.
    B:Recipe.Enable=true
}


Whitelist {
    B:aerotheum=true
    B:aluminiumbrass.molten=true
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:ardite.molten=true
    B:bacterialsludge=true
    B:blood=true
    B:bronze.molten=true
    B:chlorophyll=true
    B:coal=true
    B:cobalt.molten=true
    B:conductiveiron=true
    B:copper.molten=true
    B:creosote=true
    B:cryotheum=true
    B:custard=true
    B:darksteel=true
    B:diesel=true
    B:electrum.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:enderium.molten=true
    B:energeticalloy=true
    B:etchacid=true
    B:fastwater=true
    B:fire_water=true
    B:fishoil=true
    B:fluiddeath=true
    B:fluidpure=true
    B:flux=true
    B:fluxgoo=true
    B:fuel=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:gunpowder=true
    B:hell_blood=true
    B:honey=true
    B:hootch=true
    B:ice=true
    B:invar.molten=true
    B:iron.molten=true
    B:kerosene=true
    B:lava=true
    B:lead.molten=true
    B:"life essence"=true
    B:lpg=true
    B:lubricant=true
    B:lumium.molten=true
    B:mana=true
    B:manyullyn.molten=true
    B:mithril.molten=true
    B:myst.ink.black=true
    B:nickel.molten=true
    B:nutrient_distillation=true
    B:obsidian.molten=true
    B:oil=true
    B:petrotheum=true
    B:phasedgold=true
    B:phasediron=true
    B:pigiron.molten=true
    B:plastic=true
    B:platinum.molten=true
    B:poison=true
    B:pyrotheum=true
    B:redstone=true
    B:rocket_fuel=true
    B:signalum.molten=true
    B:silver.molten=true
    B:slime.blue=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:tin.molten=true
    B:water=true
}


